select {
  width:100%;
  height:9%;
  border: 2px solid #3498db; /* Sets a 2px solid blue border */
  border-radius: 5px; /* Adds rounded corners */
  padding: 5px; /* Adds some internal spacing */
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: black;
}
.left { background: white }

font, label {
    font-size:19xpx;
            color: #000;
            font-weight: 500;
        }

.unset * {
  all: initial;
}
.row {
  white-space: nowrap;
 
}

.row>div {
  width: 50%;
  display: inline-block;
}
input:focus {
color: red;
border: 8px solid black;
font-size: 33px;}
.myDiv: {
        width:20%; 
        background-color: lightblue; /* Example: Change background color */
        border: 2px solid blue;      /* Example: Add a border */
        outline: none;               /* Optional: Remove default outline */
    }




input[type=submit], input[type=button] {

  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border:3px solid black inherit;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  padding: 18px 22px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-color:red;
  height: 14%;
  width:40%;
font-size: 16px;
display: inline-block;
}
.inline {
  display: inline-block; 
}



button:active,
butto:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
html, body{
    width: 100%;
    height: 100%;
    background-color: white;
}
input {
    width:25%;
    height:10%;
    background-color:grey;
    color:black;
    border-style:dashed;
    border-width:2px;
    border-color: black;
    text-decoration: color:red;
    font-size: 16px;
 }
a {
    color: #5568aa;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(45deg,#ffc08c,#aa278c 30%,#0ecad4);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 2px;
    transition: background-size .3s;
    font-size:16px
    padding: 12px 18px;
    text-decoration: color:red;
}

a:focus,
a:hover {
    color: red;
    background-size: 400% 6px;
    -webkit-animation: underline-gradient 4s linear infinite;
    animation: underline-gradient 4s linear infinite;
    text-decoration: color:red;;
}       
input {
  backgrouond-color: white;
  border:3px solid black inherit;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  padding: 18px 22px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-color:black;
  height: 14%;
  width:40%;
font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
width: 400px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}
.red-button {
            background-color: #FF0000; /* red */
            border: none;
            color: white;
            padding: 2px 6px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 4px;
            margin: 1px 1px;
            cursor: pointer;
            border-radius: 3px; 
}
.green-button {
            background-color: ##AFE1AF; 
            border: none;
            color: white;
            padding: 2px 6px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 4px;
            margin: 1px 1px;
            cursor: pointer;
            border-radius: 3px; 
}


  
